:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --border-color: #cccccc;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
